body {
  background-color: #76b82d;

}

#header {
  background-color: #001a3a;
  height: 70px;
  width: 100%;
  text-align: center;
}

#header1 {
  text-align:left;
  width: 33%;
}

#header2 {
  width: 33%;
}

#header3 {
  text-align: right;
  width: 33%;
}

#burgermenu {
  padding-left: 15px;
  padding-right: 5px;
}

#plan {
  padding-right: 5px;
}

#logout {
  padding-right: 20px
}

#avatar {
  padding-right: 5px;
}

#school {
  padding-right: 5px;
}

#group {
  padding-right: 10px;
}

#help {
  padding-right: 5px;
}
#illustration {
  height: 360px;
  width: 100%;
  text-align: center;
}
#littleChapterFlag {
  position: absolute;;
      top: 65px;
      left: 6px;
    height:60px
}
#footer {
  background-color: #001a3a;
  width: 100%;
  text-align: center;
}
#footerCheck1{
  color: #4565ad;
  font-weight: bold;
}
#footerCheck2{
  color: #4565ad;
}
#scrollUp{
  position: absolute;;
      right: 30px;
      top:90px;
      height: 50px;
}
#scrollDown{
  position: absolute;;
      right: 30px;
      down:60px;
      height: 50px;
}
